---
- name: Ensure the nfs-client package is installed (Debian/Ubuntu)
  ansible.builtin.apt:
    name: nfs-common
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Mount NFS volume specified
  ansible.posix.mount:
    src: "{{ source }}"
    path: "{{ mount_path }}"
    opts: "{{ mount_options }}"
    boot: true
    state: mounted
    fstype: nfs
