---
- name: Add Deluge PPA repository
  apt_repository:
    repo: 'ppa:deluge-team/stable'
    state: present

- name: Install Deluge packages (Ubuntu)
  apt:
    name:
      - deluged
      - deluge-web
    state: present
    update_cache: yes
  when: ansible_distribution in debian

- name: Create Deluge system user
  user:
    name: deluge
    system: yes
    create_home: yes
    home: /var/lib/deluge
    comment: "Deluge Service"

- name: Create systemd override directories
  file:
    path: "/etc/systemd/system/{{ item }}.service.d"
    state: directory
    mode: '0755'
  loop:
    - deluged
    - deluge-web

- name: Deploy systemd service files
  template:
    src: "{{ item }}.service.j2"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: '0644'
  loop:
    - deluged
    - deluge-web

- name: Deploy user override configurations
  copy:
    content: |
      [Service]
      User=deluge
      Group=deluge
    dest: "/etc/systemd/system/{{ item }}.service.d/user.conf"
    mode: '0644'
  loop:
    - deluged
    - deluge-web

- name: Enable and start Deluge services
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - deluged
    - deluge-web
